html {
    height: 100%;
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
}

body {
    height: 100%;
    background: var(--background-cl);
    color: var(--white-cl);
    margin: 0 auto;
    padding: 0;
}

.content {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.chat-list {
    min-width: 250px;
    max-width: 600px;
    background: var(--chat-list-cl);
    height: 100%;
    overflow-y: auto;
}

.chat-dialog {
    flex: 1;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
}

.chat-dialog .not-in-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.chat-dialog .not-in-chat p{
    background: var(--white-30-cl);
    border-radius: 10px;
    padding: 3px 15px;
    color: var(--text-non-chat);
}

.chat-content {
    display: flex;
}

/* other */

#hide {
    display: none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--black-50-cl);
    z-index: 1000;
}