html {
    height: 100%;
    font-family: "DM Sans", sans-serif;
}

body {
    height: 100%;
    background: var(--background-cl);
    color: var(--white-cl);
    margin: 0 auto;
    padding: 0;
}

.content {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.chat-list {
    min-height: 100vh;
    min-width: 250px;
    max-width: 600px;
    background: var(--chat-list-cl);
}

.chat-dialog {
    margin: 0 auto;
    min-height: 100%;
}

.chat-dialog .not-in-chat {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.chat-dialog .not-in-chat p{
    background: var(--white-30-cl);
    border-radius: 10px;
    padding: 3px 15px;
    color: var(--text-non-chat);
}